

{{title}}
<div class="jumbotron text-center">

	<div class="background-image" style="background-color: #DC143C">
	 
	<img src="/img/radio_day.jpg" class="img-responsive"></img>
	<div class="caption" style="color: #FFF">
    <h1 >Mongo Scraper</h1>
    <p>NPR News</p>
   </div>
	<br>
	<br>
	</div>
</div>

	<div class="container">
		
	<div class="panel panel-danger">
		{{#each articles as |article|}}
	
		    <div class="panel-heading">
			    <h1 class="panel-title" name="article_title" href ="{{article.link}}"> <a href ="{{article.link}}"> {{article.title}}</a></h1>
			    </div>
			    <div class="panel-body" id="link" name="article_link" >
			    <a href ="{{article.link}}" ><h3> {{article.id}} </h3></a> <h3>{{article.title}}</h3>
			    <form id="save">
			    <input id = "artid" name="article_id" value="{{article.id}}" type="hidden" />
			    <button   type ="submit" class="btn btn-success">
			    </form>
	            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Save this Articls
	            </button>
		    </div>
		    
		{{/each}}
	    <br>
      </div>

     </div>       
     

