

{{title}}
<div class="jumbotron text-center">

	<div class="background-image" style="background-color: #DC143C">
	 
	<img src="/img/radio_day.jpg" class="img-responsive"></img>
	<div class="caption" style="color: #FFF">
    <h1 >Mongo Scraper</h1>
    <p>NPR News</p>
   </div>
	<br>
	<br>
	</div>
</div>
	<div class="container">
		
	<div class="panel panel-danger">
		{{#each myitems as |news|}}
			
		        <div class="panel-heading">
			    <h1  id="title" class="panel-title" name="title" href ="{{news.link}}">{{news.title}}</a></h1>
			    </div>

			    <div id="link" class="panel-body" name="link" ><a href ="{{news.link}}" ><h3> {{news.title}} </h3></a>

			    
			     <form action="/delete" method="POST">
			     	<input name="_id" value="{{news.id}}" type="hidden" />
			     	<input name="title" value="{{news.title}}" type="hidden" />
			    <button type="submit" class=" btn btn-danger" href="#">Delete</button>
			    <a id="note" type="button" class="prompt btn btn-primary" href="#">Note</a>
			</form>
		    </div>
		    
		{{/each}}
	    <br>
      </div>
     </div>  
     

