

{{title}}
<div class="jumbotron text-center">

	<div class="background-image" style="background-color: #DC143C">
	 
	<img src="/img/radio_day.jpg" class="img-responsive"></img>
	<div class="caption" style="color: #FFF">
    <h1 >Mongo Scraper</h1>
    <p>NPR News</p>
   </div>
	<br>
	<br>
	</div>
</div>
	<div class="container">
		<button type="submit" class="alert btn btn-danger" href="/delete">Delete</button>
	<div class="panel panel-danger">
		{{#each articles as |article|}}
	
		    <div class="panel-heading">
			    <h1 class="panel-title" name="article_title" href ="{{article.link}}"> <a href ="{{article.link}}">{{article.litle}}</a></h1>
			    </div>
			    <div class="panel-body" name="article_link" ><a href ="{{article.link}}" ><h3> {{article.id}} </h3></a> <h3>{{article.title}}</h3>
			    <input name="article_id" value="{{article.id}}" type="hidden" />
			    <button type="submit" class="btn btn-success">
	            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Save this Articls
	            </button>
		    </div>
		    
		{{/each}}
	    <br>
      </div>
     </div>  
     

<div class="modal-body"><button type="button" class="bootbox-close-button close " data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button><div class="bootbox-body"><div class="container-fluid text-center"><h4>Notes For Article: 59c7c991f366b600119248be</h4><hr><ul class="list-group note-container"><li class="list-group-item">No notes for this article yet.</li></ul><textarea placeholder="New Note" rows="4" cols="60"></textarea><button class="btn btn-success save">Save Note</button></div></div></div>